body {
    background-color:#051320;
}

.sticky {
    color:aqua;
    background-color: rgba(5, 109, 112,0.3);
    background-size: auto;
    
    padding:15px;
    position:fixed;
    top:-10px;
    left:0px;
    width:100%;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    color:aqua;
    text-align:center;
    position:relative; 
    margin-top:100px;
}

nav {
    text-align:center;
}

main {
    background-image: url('../img/images.jpg');
    background-repeat:no-repeat ;
    background-size:cover;
    background-attachment:fixed;
}

.profile {
    color:white;
    text-shadow:1px 1px 1px rgba(0, 26, 51, 0.8);
}

.background {
    background-color:rgba(0, 26, 51, 0.8);
}

.pass1 {
    background-color:#05132083;
    border:1px solid  rgba(5, 109, 112,0.3);
    border-radius:25px;
    padding-top:20px;
    position:relative;
    margin:20px;
    top:50px;
    left:100px;
    width:550px;
    height:600px;
    color:lightgrey;
    font-size:larger;
    text-align:center;
}

.pass2 {
    background-color:#05132083;
    border:1px solid  rgba(5, 109, 112,0.3);
    border-radius:25px;
    padding-top:20px;
    position:relative;
    margin:20px;
    top:50px;
    left:650px;
    width:550px;
    height:300px;
    color:lightgrey;
    font-size:larger;
    text-align:center;
}

.pass3 {
    background-color:#05132083;
    border:1px solid  rgba(5, 109, 112,0.3);
    border-radius:25px;
    padding-top:20px;
    position:relative;
    bottom:50px;
    left:100px;
    width:550px;
    height:300px;
    color:lightgrey;
    font-size:larger;
    text-align:center;
}

footer {
    padding:15px;
    position:relative;
    bottom:0px;
    color:aqua;
    text-align:center;
    font-size:20px;
} 