body {
    background-color:#001a33;
}

.sticky {
    color:aqua;
    background-color: midnightblue;
    background-size: auto;
    
    padding:15px;
    position:fixed;
    top:-10px;
    left:0px;
    width:100%;
}

h1 {
    color:aqua;
    text-align:center;
    position:relative; 
    margin-top:100px;
}

nav {
    text-align:center;
    
}

main {
    background-image: url('../img/images.jpg');
    background-repeat:no-repeat ;
    background-size:100%;
    
}

.pass1 {
    border:1px solid orange;
    border-radius:15px;
    padding-top:20px;
    position:relative;
    margin:20px;
    top:50px;
    left:100px;
    width:550px;
    height:300px;
    color:orange;
    font-size:larger;
    text-align:center;
}

.pass2 {
    border:1px solid orange;
    border-radius:15px;
    padding-top:20px;
    position:relative;
    margin:20px;
    top:50px;
    left:650px;
    width:550px;
    height:300px;
    color:orange;
    font-size:larger;
    text-align:center;
}

.pass3 {
    border:1px solid orange;
    border-radius:15px;
    padding-top:20px;
    position:relative;
    margin:20px;
    top:50px;
    left:100px;
    width:550px;
    height:300px;
    color:orange;
    font-size:larger;
    text-align:center;
}

footer {
    position:margin;
    bottom:250px;
    color:aqua;
    text-align:center;
    font-size:20px;
    
}